Topic 08/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "58e1e31d-9df4-4d6b-97e2-9c70f542fb28",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, record_id, profile_url, status\nFROM competition_posts\nWHERE status = 'new'\nLIMIT 10;",
        "options": {}
      },
      "id": "43966eec-18d7-4391-9f69-74c93a22242e",
      "name": "Fetch Pending Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"profile_url\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"record_id\"]}}",
              "operation": "isNotEmpty"
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "d788798b-522d-4ee5-8258-f22ca1147414",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let url = item.json.profile_url || \"\";\n\n  url = url\n    .toLowerCase()\n    .trim()\n    .replace('https://', '')\n    .replace('http://', '')\n    .replace('www.', '')\n    .replace(/\\/$/, '');\n\n  item.json.normalized_url = url;\n\n  return item;\n});"
      },
      "id": "d71c43b3-1288-4ce0-ad9a-0a455d04c0a1",
      "name": "Normalize URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM processed_posts\nWHERE normalized_url = '{{ $input.item.json.normalized_url }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "ecd1608f-4fb4-4cda-86c9-f48cca70bbb1",
      "name": "Duplicate Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1152,
        -96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bf5e6cd4-7fff-4929-ba12-d0c1c2ef1a41",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "790acc3c-c32c-4160-a51a-23bd03f30f2b",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        -96
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "c97120ce-de31-44ba-8bc5-df75d6c97105",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        -96
      ],
      "webhookId": "d7a7f25d-90f7-4c84-b38c-789516ae9177"
    },
    {
      "parameters": {
        "jsCode": "const posts = items;\n\nconst totalPosts = posts.length;\n\nconst totalLikes = posts.reduce((sum, post) => {\n  return sum + (post.json.likesCount || 0);\n}, 0);\n\nconst avgLikes = totalPosts > 0 ? totalLikes / totalPosts : 0;\n\nreturn [{\n  json: {\n    record_id: $('Normalize URL').first().json.record_id,\n    profile_url: $('Normalize URL').first().json.profile_url,\n    normalized_url: $('Normalize URL').first().json.normalized_url,\n    total_posts: totalPosts,\n    total_likes: totalLikes,\n    average_likes: avgLikes,\n    processed_at: new Date().toISOString(),\n    status: 'completed'\n  }\n}];"
      },
      "id": "ddb0711f-77e8-4005-b7b2-450760e51c02",
      "name": "Process Competition Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Competition Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.record_id }}",
            "profile_url": "={{ $json.profile_url }}",
            "normalized_url": "={{ $json.normalized_url }}",
            "total_posts": "={{ $json.total_posts }}",
            "total_likes": "={{ $json.total_likes }}",
            "average_likes": "={{ $json.average_likes }}",
            "processed_at": "={{ $json.processed_at }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_url",
              "displayName": "normalized_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_posts",
              "displayName": "total_posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_likes",
              "displayName": "total_likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "average_likes",
              "displayName": "average_likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "77e476d0-53ee-404b-a74f-41795fc94b1b",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2656,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_posts (\n  normalized_url\n)\nVALUES (\n  '{{ $json.normalized_url }}'\n)\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "e199e307-f9e4-4ef0-be72-0beeb108b5cc",
      "name": "Save Processed Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2896,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE competition_posts\nSET status = 'completed'\nWHERE record_id = '{{ $('Normalize URL').first().json.record_id }}';",
        "options": {}
      },
      "id": "3d87173d-b0bd-40d4-8c40-8b250a850871",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (\n  record_id,\n  status,\n  message\n)\nVALUES (\n  '{{ $('Fetch Pending Records').first().json.record_id }}',\n  'success',\n  'Competition post count completed successfully'\n);",
        "options": {}
      },
      "id": "ecb90411-c43a-485e-a014-7c069786fb69",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3408,
        -96
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SLACK_CHANNEL_NAME"
        },
        "text": "=Competition analysis completed for {{ $('Normalize URL').first().json.profile_url }}\n\nTotal Posts: {{ $('Get dataset items').all().length }}\nAverage Likes: {{ ($('Get dataset items').all().map(item => item.json.likesCount || 0).reduce((sum, current) => sum + current, 0) / $('Get dataset items').all().length).toFixed(1) }}",
        "otherOptions": {}
      },
      "id": "9f68659a-e140-4153-a774-92e5450d1d39",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        3648,
        -96
      ],
      "webhookId": "f7571d76-7b9d-4c9e-927e-b8198b1e5304"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (\n  record_id,\n  status,\n  message\n)\nVALUES (\n  '{{ $json.record_id }}',\n  'invalid',\n  'Missing required fields'\n);",
        "options": {}
      },
      "id": "3d4b207b-befb-466d-bfa2-f75d29db0c5a",
      "name": "Log Invalid Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (\n  record_id,\n  status,\n  message\n)\nVALUES (\n  '{{ $('Normalize URL').first().json.record_id }}',\n  'duplicate',\n  'Duplicate record skipped'\n);",
        "options": {}
      },
      "id": "00cd7161-9b23-4b52-92ae-2c8343d17085",
      "name": "Log Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1648,
        112
      ]
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "AgfKk0sQQxkpQJ1Dt",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Scraper for cheap lead enrichment \u2705 (anchor/linkedin-profile-enrichment)",
          "cachedResultUrl": "https://console.apify.com/actors/AgfKk0sQQxkpQJ1Dt/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1952,
        -96
      ],
      "id": "b0eb2d60-a244-4b09-877b-781b72ef9224",
      "name": "Run an Actor"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2160,
        -96
      ],
      "id": "70524249-7522-4c91-ba50-a97a89af1629",
      "name": "Get dataset items"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Records": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Normalize URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize URL": {
      "main": [
        [
          {
            "node": "Duplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Check": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Competition Data": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Save Processed Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Processed Record": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        []
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Process Competition Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Duplicate Check": [
      {
        "normalized_url": "linkedin.com/in/alex-hormozi"
      }
    ],
    "Run an Actor": [
      {
        "defaultDatasetId": "apify-dataset-123",
        "status": "SUCCEEDED",
        "startedAt": "2026-05-23T12:00:00Z",
        "finishedAt": "2026-05-23T12:01:00Z"
      }
    ],
    "Get dataset items": [
      {
        "postText": "AI agents are replacing repetitive workflows.",
        "likesCount": 340,
        "commentsCount": 25,
        "timestamp": "2026-05-20T10:00:00Z"
      },
      {
        "postText": "n8n automation is scaling fast.",
        "likesCount": 290,
        "commentsCount": 17,
        "timestamp": "2026-05-19T08:00:00Z"
      },
      {
        "postText": "Hybrid search improves retrieval accuracy.",
        "likesCount": 410,
        "commentsCount": 33,
        "timestamp": "2026-05-18T11:00:00Z"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86ad8c122542f291c16d029828947dec1e2771eed129669ece99440ab420e1b8"
  }
}