Topic 22/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given an RSS feed item in JSON format.\nExtract and return the following fields in a structured way:\ncreator-{{ $json.creator }}\n- Title of the event{{ $json.title }}\n- Event date and time{{ $json.pubDate }}\n- URL{{ $json.link }}\n- Content snippet- {{ $json.contentSnippet }}\n- Short description (if available)\n\nReturn the output as a JSON object with keys:\n\"title\", \"date_time\", \"url\", \"description\".",
        "options": {}
      },
      "id": "05559c18-6469-4f42-b3b7-fded648bc44c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop through incoming items from the AI Agent node\nreturn items.map(item => {\n    // Extract the raw text output containing the markdown-wrapped JSON string\n    let raw = item.json.output;\n\n    // Clean up markdown code blocks if present\n    raw = raw.replace(/```json\\n?/, \"\").replace(/\\n?```/, \"\").trim();\n\n    // Parse JSON safely\n    let parsed;\n    try {\n        parsed = JSON.parse(raw);\n    } catch (e) {\n        parsed = { \n            error: \"Failed to parse\", \n            raw: raw \n        };\n    }\n\n    // Return structured data for downstream nodes\n    return { json: parsed };\n});"
      },
      "id": "a8be3b30-2012-4305-b426-17e12e4d341c",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Acumatica feeds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 72631419,
          "mode": "list",
          "cachedResultName": "1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=72631419"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_time",
              "displayName": "date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0a0bc168-d4d9-42c9-8250-b0f0fd56b9dc",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_ADDRESS",
        "subject": "New Feed",
        "message": "=Hello,  A new event has been parsed and logged from the RSS feed: \n\n\u2022 Title: {{ $json.title }} \n\n\u2022 Date/Time: {{ $json.date_time }}\n\n\u2022 URL: {{ $json.url }} \n\n\u2022 Description: {{ $json.description }} \n\nThis item has been safely added to your Google Sheet tracker.",
        "options": {}
      },
      "id": "5b1159a6-645b-4ad8-97a8-f77f007abf91",
      "name": "Send a message1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        112
      ],
      "webhookId": "29879e98-2df4-4478-aba7-c20aa4e1d6b0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "d1df7636-e354-40da-94bd-83116dbd666e",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        16
      ],
      "id": "c1ae9f44-bc12-48ec-a633-98a63be0bdbb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/tn7AiFwzFbzEw3fB.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        16
      ],
      "id": "8cc25991-a744-477d-8b02-bb71d856ae9b",
      "name": "RSS Feed Trigger"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20935e6e42b4060606f53eded764687ab4300d59de9aceb8bca4fbc698d1c11e"
  }
}