Topic 11/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "missing_required_fields",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "Record missing profile_url or record_id",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7c099929-7b8b-421e-92d7-aae512fc3645",
      "name": "Log Invalid Records",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3536,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM candidates WHERE status = 'pending';",
        "options": {}
      },
      "id": "2b4a275e-5660-4c8b-bcdd-f3710530b260",
      "name": "Fetch Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3104,
        1344
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "208aa8d0-438b-405a-be55-2314d8a1ad9a",
      "name": "Normalize URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3536,
        1264
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "profile_url",
        "options": {}
      },
      "id": "3aed81fb-7018-4844-b3d7-f6876a3a72b5",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        3760,
        1264
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "230c7284-91db-42de-85d7-85350c505bbe",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3984,
        1264
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "23a1eefd-680a-401b-b6ac-4ba110352e85",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4208,
        1264
      ],
      "webhookId": "6ecd6e7e-d06d-4312-bb23-fdadbc89a305"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": "dev_fusion/linkedin-profile-scraper",
        "customBody": "{{\n  \"profileUrls\": [\n    \"{{ $json.profile_url }}\"\n  ]\n}",
        "authentication": "apifyOAuth2Api"
      },
      "id": "60caf9b8-c64a-4a9f-a73f-d9b0a7887c1a",
      "name": "LinkedIn Scraper",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        4416,
        1264
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0813bf63-f3af-4018-a875-3c8ab61d7061",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4640,
        1264
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "25e8c59d-4bf2-44af-a8ce-8fa1d8e49fb1",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4864,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Qualified Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "candidate_name",
              "displayName": "candidate_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_status",
              "displayName": "qualification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_date",
              "displayName": "processed_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e5468f61-d6f1-47d4-b425-a6af2c9747c0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5088,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE candidates SET status='processed', updated_at=NOW() WHERE record_id='{{ $json.record_id }}';",
        "options": {}
      },
      "id": "d7d72be9-9239-485e-9fc7-9e776c024ac7",
      "name": "Update DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        1264
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2848,
        1344
      ],
      "id": "9cf3b534-075a-4f9e-97d2-2e0f9fa23b89",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "46fe8dfe-57e8-4009-a006-a7d1e9fe4d01",
              "leftValue": "=={{ $json.profile_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "af005a77-3f06-4625-aabb-19e7ab378a5d",
              "leftValue": "=={{ $json.record_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3280,
        1344
      ],
      "id": "49cb2b25-7c94-40c3-9b65-ebd5e3a9f08b",
      "name": "If"
    }
  ],
  "connections": {
    "Fetch Candidates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize URLs": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "LinkedIn Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Scraper": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Fetch Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "LinkedIn Scraper": [
      {
        "record_id": "REC001",
        "profile_url": "https://www.linkedin.com/in/john-doe",
        "normalized_url": "https://www.linkedin.com/in/john-doe",
        "name": "John Doe",
        "headline": "Senior Python Developer",
        "location": "Bangalore, India",
        "skills": [
          "Python",
          "FastAPI",
          "PostgreSQL"
        ]
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20935e6e42b4060606f53eded764687ab4300d59de9aceb8bca4fbc698d1c11e"
  }
}