Topic 13/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tayana-voice-agent",
        "options": {}
      },
      "id": "a248bdfe-6806-427a-b2fd-8614c02f6417",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -768,
        0
      ],
      "webhookId": "89186b46-c7f1-4aa6-b269-4a0011e47e86"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM voice_leads WHERE crm_status='pending';",
        "options": {}
      },
      "id": "5bcc643d-bb49-41d8-81b9-6e94f9ecb78a",
      "name": "Fetch Voice Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.event_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.student_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "834a4907-ddec-4e1b-9894-c72f0391979c",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "547ae371-c3ed-41f9-9d26-936c39c102cd",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS duplicate_count FROM voice_agent_logs WHERE event_id='{{ $json.event_id }}' AND status='SUCCESS';",
        "options": {}
      },
      "id": "45507deb-1839-4b2d-bc02-c9777c3a5b3b",
      "name": "Check Duplicates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.duplicate_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "74f5d1c7-775b-4455-aa47-443154fd7a34",
      "name": "Is New Record?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        336,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=",
        "options": {}
      },
      "id": "868ff74f-2374-4cb8-b587-9b43b39cc823",
      "name": "AI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        -80
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "8cc61a0f-25ae-4a19-94e9-a60e81afc221",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        768,
        -80
      ],
      "webhookId": "dc216d57-a318-4d10-9c9d-e5587db614d7"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      event_id: item.json.event_id,\n      student_name: item.json.student_name,\n      email: item.json.email,\n      phone: item.json.phone,\n      course_interest: item.json.course_interest,\n      ai_summary: `Interested in ${item.json.course_interest}`,\n      crm_status: 'processed',\n      processed_at: new Date().toISOString(),\n      call_id: item.json.call_id,\n      call_status: item.json.status\n    }\n  }\n})"
      },
      "id": "b39fa381-5595-4b60-85ae-5c47b93157ca",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Tayana Voice Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "student_name": "={{ $json.student_name }}",
            "ai_summary": "={{ $json.ai_summary }}",
            "processed_at": "={{ $json.processed_at }}",
            "crm_status": "={{ $json.crm_status }}",
            "course_interest": "={{ $json.course_interest }}",
            "event_id": "={{ $('AI API Call').item.json.call_id }}",
            "phone": "={{ $('AI API Call').item.json.to_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "student_name",
              "displayName": "student_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "course_interest",
              "displayName": "course_interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "crm_status",
              "displayName": "crm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "20085018-e3f2-4004-ad27-105a51e74c66",
      "name": "Append To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1216,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE voice_leads SET crm_status='processed', updated_at=NOW() WHERE event_id='{{ $json.event_id }}';",
        "options": {}
      },
      "id": "08c025c0-7c0b-4b61-be43-fe6c18746406",
      "name": "Update CRM Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO voice_agent_logs (event_id, status, message) VALUES ('{{ $('Wait').item.json.call_id }}','SUCCESS','Voice lead processed successfully');",
        "options": {}
      },
      "id": "5f9d29ea-c0b2-42e3-86f5-797699ebf2e0",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        -80
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Voice Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Voice Leads": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "Is New Record?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Record?": {
      "main": [
        [],
        [
          {
            "node": "AI API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI API Call": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Append To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append To Google Sheets": {
      "main": [
        [
          {
            "node": "Update CRM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM Status": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "AI API Call": [
      {
        "call_id": "call_9xk28ab31",
        "status": "registered",
        "agent_id": "agent_123abc456",
        "from_number": "+14155550123",
        "to_number": "+919999999999",
        "direction": "outbound",
        "call_status": "initiated",
        "student_name": "John Doe",
        "course_interest": "AI Automation",
        "created_at": "2026-05-24T10:15:00.000Z"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20935e6e42b4060606f53eded764687ab4300d59de9aceb8bca4fbc698d1c11e"
  }
}