Topic 05/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "srp-1001-influencer-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6b43cff1-a294-4e1b-a7c8-6a5bfba28440",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -368,
        0
      ],
      "webhookId": "srp1001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"workflow_started\"}",
        "options": {}
      },
      "id": "7f399dc2-80e3-4e94-9748-4a66d4c671fe",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -128,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM influencers WHERE status = 'new' LIMIT 50;",
        "options": {}
      },
      "id": "3225e6a6-1b33-4b2b-a280-9bd2bc83af1d",
      "name": "Fetch Influencers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "5d13039f-370a-4ac3-9dcc-114c478244aa",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"linkedin_url\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "30253c33-991b-4223-b618-a3b25ab7ae7f",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // item.json is already the object data from Apify\n  const data = item.json || {};\n\n  return {\n    json: {\n      name: data.fullName || '',\n      linkedin_url: data.linkedinUrl || '',\n      followers: data.followers || 0,\n      category: data.headline || '',\n      location: data.addressWithCountry || '',\n      company: data.companyName || '',\n      bio: data.about || '',\n      normalized_name: (data.fullName || '').toLowerCase().trim(),\n      engagement_score: Math.floor(Math.random() * 100),\n      status: 'processed',\n      created_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "5eb5f53a-847a-4d37-9978-dbdbcd6cd487",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "763bc6d2-3a78-4a5b-a814-c19aca5c35b3",
      "name": "Merge Clean Record",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "influencers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_name",
              "displayName": "normalized_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "engagement_score",
              "displayName": "engagement_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9d810510-24a1-45c8-a430-ed1887651bf3",
      "name": "Save To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1744,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"New influencer processed: {{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "76ecc2b0-315b-4322-a8f1-384a7f8d080e",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1968,
        0
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "07ddf16e-febe-491d-9a77-7bf13fd12c74",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2176,
        0
      ],
      "webhookId": "d17e87ca-31a2-4041-abf3-6342518fcad0"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "dce88320-1e75-424a-803d-bdb2c58f1ed0",
      "name": "Run an Actor and get dataset"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data enrichment assistant specializing in influencer marketing and brand-fit analysis.\n\nYour task is to analyze the provided biography and profile text of a social media influencer and extract high-value metadata.\n\nYou must output ONLY a valid JSON object. Do not include any conversational filler, intro, or markdown formatting blocks (like ```json). \n\nAnalyze the text and populate these exact keys:\n- niche: The primary topic or industry they create content for (e.g., SaaS, Fitness, Personal Finance).\n- authority_score: An integer from 1 to 100 assessing their perceived credibility and professional standing based on their bio details.\n- collaboration_potential: A short evaluation (High, Medium, or Low) indicating how valuable they would be for B2B or B2C brand sponsorships.\n- summary: A concise, one-sentence professional summary of who they are and what value they provide.\n\nInput Data to Analyze:\n{{ $json.bio }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        0
      ],
      "id": "05ad15b5-e32f-4f24-9fc6-b95b68e27abf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1088,
        240
      ],
      "id": "a70ccf74-d36e-4fc7-a9da-a11b092b1300",
      "name": "Google Gemini Chat Model"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Influencers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Influencers": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [],
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Clean Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Clean Record": {
      "main": [
        [
          {
            "node": "Save To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save To Google Sheets": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge Clean Record",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Run an Actor and get dataset": [
      {
        "fullName": "Alex Hormozi",
        "linkedinUrl": "https://linkedin.com/in/alexhormozi",
        "followers": 520000,
        "headline": "Founder Acquisition.com | Author & Investor",
        "addressWithCountry": "Las Vegas, Nevada, United States",
        "companyName": "Acquisition.com",
        "about": "Gym owner turned investor. Scaled a portfolio of companies to over $100M+ in revenue. I write books and make videos on how to scale hyper-profitable businesses without venture capital money."
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a90343fa43e1bff8f27b82db8d1553e8d27a1fc9a77d116f396231b4064d5a85"
  }
}